$BackGroundColor:#C0DFD9;
$LightBackGround:#E9ECE6;
$TextColor:#545B5A;
$LightTextColor:#AAB8B9;

@import "Layout";
@import "Header";
@import "Footer";
@import "Home";
@import "Product";
@import "Credits";
@import "Banner";
@import "ProductDetail";